<!DOCTYPE html>
<html lang="zh">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>(红黄绿码组)数据导入</title>
    <script type='text/javascript' src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script>
        $(function(){
            $("form").submit(function(){
                if($("input[name='from_source']").val()==''){
                    alert("数据来源不能为空！");
                    return false;
                }
            });
        });

    </script>
</head>
<body>
<form action="/muban_upload_hhz" method="post" enctype="multipart/form-data" >
{% csrf_token %}

    <div>(红黄绿码组)批量导入模板（<a href="/download?field=muban&filename=muban_hhz.xls">下载</a>模板）</div>
    <div>(*非管理员慎用，不经排版，导入数据可能比较乱，影响整个库)</div>
    <div>从第2行开始有效</div><br>
    <div><p>数据来源：<input type="text" name="from_source" size="30"></p></div>
    <input type="file" name="excel" id="excel" >
    <input type="submit" value="保存">
</form>
<br>
<a href="/">首页</a>
</body>
</html>