<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>镇海疫情人员数据库-首页</title>
</head>
<body>
<table border="1">
    <tr><th>正式数据</th></tr>
    <tr><td><a href="/yqdx_list?page=1&size=100">显示数据</a></td></tr>
    <tr><td><a href="/dx_import" target="_blank">批量导入</a></td></tr>
    <tr><td><a href="/white_red_list_set" target="_blank">批量白（红）名单设置</a></td></tr>
<!--    <tr><td><a href="/back_date_whitelist" target="_blank">返回日期批量设置白名单</a></td></tr>-->
    <tr><td><a href="/jjbd" target="_blank">交集比对,[导出原始比对表]</a></td></tr>
    <tr><td><a href="/bddc" target="_blank">比对导出,[导出库中数据]</a></td></tr>

</table>


<br>
<br>
<br>
<table border="1">
    <tr><th>话务组数据</th></tr>
    <tr><td><a href="/yqdx_list_hwz?page=1&size=100">显示数据</a></td></tr>
    <tr><td><a href="/dx_import_hwz" target="_blank">批量导入</a></td></tr>

<!--    <tr><td><a href="/back_date_whitelist" target="_blank">返回日期批量设置白名单</a></td></tr>-->
    <tr><td><a href="/jjbd_hwz" target="_blank">交集比对,[导出原始比对表]</a></td></tr>
    <tr><td><a href="/bddc_hwz" target="_blank">比对导出,[导出库中数据]</a></td></tr>

</table>


</body>
</html>