<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>(话务组)疫情对象修改</title>

    <style>
        input{
        size:30;
        }

    </style>
</head>
<body>
<form method="post" action="yqdx_mod_db_hwz">
    {% csrf_token %}
    <table width="800px">

        <tr><th colspan="4">（话务组）对象信息修改</th></tr>
        {% if msg.code == 200 %}
        <tr><td>手机号</td><td><input type="hidden" name="id" value="{{msg.data_list.id}}"><input name="phone_no" value="{{ msg.data_list.phone_no }}" size="40"></td><td>姓名</td><td><input name="name" size="40" value="{{ msg.data_list.name }}"></td></tr>
        <tr><td>身份证号</td><td><input size="40" name="sfzh" value="{{ msg.data_list.sfzh }}"></td><td>户籍地址</td><td><input name="hjdz" size="40" value="{{ msg.data_list.hjdz }}"></td></tr>
        <tr><td>居住地址</td><td><input size="40" name="xzdz" value="{{ msg.data_list.xzdz }}"></td><td>所属街道</td><td><input name="ssjd" size="40" value="{{ msg.data_list.ssjd }}"></td></tr>
        <tr><td>是否武汉</td><td>
            <select name="is_wuhan">
                <option value="" {% ifequal '' msg.data_list.is_wuhan %} selected {%endifequal%}>&nbsp;&nbsp;</option>
                <option value="否" {% ifequal '否' msg.data_list.is_wuhan %} selected {%endifequal%}>否</option>
                <option value="是" {% ifequal '是' msg.data_list.is_wuhan %} selected {%endifequal%}>是</option>
            </select>
            </td><td>是否湖北</td><td>
            <select name="is_hubei">
                <option value="" {% ifequal '' msg.data_list.is_hubei %} selected {%endifequal%}>&nbsp;&nbsp;</option>
                <option value="否" {% ifequal '否' msg.data_list.is_hubei %} selected {%endifequal%}>否</option>
                <option value="是" {% ifequal '是' msg.data_list.is_hubei %} selected {%endifequal%}>是</option>
            </select>
        </td></tr>
        <tr>
            <td>市内非镇海</td><td>
            <select name="is_not_zhenhai">
                <option value="" {% ifequal '' msg.data_list.is_not_zhenhai %} selected {%endifequal%}>&nbsp;&nbsp;</option>
                <option value="否" {% ifequal '否' msg.data_list.is_not_zhenhai %} selected {%endifequal%}>否</option>
                <option value="是" {% ifequal '是' msg.data_list.is_not_zhenhai %} selected {%endifequal%}>是</option>
            </select>
            </td>
            <td>省内非宁波</td><td>
            <select name="is_not_ningbo">
                <option value="" {% ifequal '' msg.data_list.is_not_ningbo %} selected {%endifequal%}>&nbsp;&nbsp;</option>
                <option value="否" {% ifequal '否' msg.data_list.is_not_ningbo %} selected {%endifequal%}>否</option>
                <option value="是" {% ifequal '是' msg.data_list.is_not_ningbo %} selected {%endifequal%}>是</option>
            </select>
        </td></tr>
        <tr>
            <td>省外人员</td><td>
            <select name="is_not_zhejiang">
                <option value="" {% ifequal '' msg.data_list.is_not_zhejiang %} selected {%endifequal%}>&nbsp;&nbsp;</option>
                <option value="否" {% ifequal '否' msg.data_list.is_not_zhejiang %} selected {%endifequal%}>否</option>
                <option value="是" {% ifequal '是' msg.data_list.is_not_zhejiang %} selected {%endifequal%}>是</option>
            </select>
        </td><td></td><td></td></tr>
        <tr><td>返回省份</td><td><input name="back_provinces" size="40" value="{{ msg.data_list.back_provinces }}"></td>
            <td>返回城市</td><td><input name="back_city" size="40" value="{{ msg.data_list.back_city }}"></td></tr>
        <tr><td>返回日期</td><td>
            <select name="back_year">
                <option value="2020" {% ifequal '2020' msg.data_list.back_year %} selected {%endifequal%}>2020</option>
                <option value="2019" {% ifequal '2019' msg.data_list.back_year %} selected {%endifequal%}>2019</option>
            </select>年
            <input name="back_month" value="{{ msg.data_list.back_month }}" maxlength="2" size="3">月<input name="back_day" value="{{ msg.data_list.back_day }}" maxlength="2" size="3">日
        </td><td>当前状态</td><td><input name="status" size="40" value="{{ msg.data_list.status }}"></td></tr>
        <tr><td>拨打情况</td><td><input name="call_detail" size="40" value="{{ msg.data_list.call_detail }}"></td><td>自述情况</td><td><input name="self_tell" size="40" value="{{ msg.data_list.self_tell }}"></td></tr>
        <tr><td>当前状态备注</td><td><input name="status_remarks" size="40" value="{{ msg.data_list.status_remarks }}"></td><td>白名单</td><td><select name="white_list_flag">
            {% for white_list_flag_list_tmp in msg.white_list_flag_list %}
            <option value="{{ white_list_flag_list_tmp.type_value }}" {% ifequal white_list_flag_list_tmp.type_value msg.data_list.white_list_flag.type_value %} selected {%endifequal%}>{{ white_list_flag_list_tmp.type_name }}</option>
            {% endfor %}
            </select>
        </td></tr>
        <tr><td>管控人</td><td><input name="gkr" size="40" value="{{ msg.data_list.gkr }}"></td><td>管控人电话</td><td><input name="gkr_phone" size="40" value="{{ msg.data_list.gkr_phone }}"></td></tr>
        <tr><td>数据来源</td><td><input name="from_source" size="40" value="{{ msg.data_list.from_source }}"></td><td>最后更新时间</td><td>{{ msg.data_list.timestamp|date:"Y-m-d H:i" }}</td></tr>

        <tr style="display:none;"><td>备用1</td><td><input name="other1" size="40" value="{{ msg.data_list.other1 }}"></td><td>备用2</td><td><input name="other2" size="40" value="{{ msg.data_list.other2 }}"></td></tr>
        <tr style="display:none;"><td>备用3</td><td><input name="other3" size="40" value="{{ msg.data_list.other3 }}"></td><td>xx</td><td>xx</td></tr>

        {% endif %}


<tr><td colspan="4" align="center"><input type="submit" value="提交" id="submit">&nbsp;<input type="button" value="返回" id="back" onclick="history.go(-1)">&nbsp;<input type="reset" value="重置" id="reset"></td></tr>



    </table>

</form>


</body>
</html>